* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper_ha{
    max-width:1200px;
    margin:auto;
}
header{
    background: #181818;
}
header .wrapper_ha{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 32px;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-left: 24px;
    align-items: center;
    flex-wrap: wrap;
}
header nav ul li{
    margin-left: 32px;
    padding: 15px 0px;
}
header nav ul li:nth-child(2){
    margin-left: 56px;
}
header nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}
header nav ul li:last-of-type {
    border-radius: 14px;
    background: #FFF;
    padding: 9px 20px 13px;
}
header nav ul li:last-of-type a {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.4px;
}
.studios{
    background-image: url("../images/sect1_bg.png");
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
}
.studios article{
    max-width: 580px;
    text-align: center;
}
.studios article h2{
    color: #C0C0C0;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
}
.studios article h1{
    margin-bottom: 18px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59px; /* 110% */
}
.studios article p{
    max-width: 580px;
    margin: auto;
    color: #C0C0C0;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.icon_list{
    display: flex;
    list-style: none;
    margin-left: 24px;
    position: absolute;
    right: 46px;
    bottom: 46px;
    flex-wrap: wrap;
}
.icon_list li{
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    margin-left: 20px;
}

.icon_list li:before{
    content: url("../images/clock.svg");
    position: relative;
    top: 6px;
    right: 4px;
}

.icon_list li:nth-child(2)::before{
    content: url("../images/round.svg");
}

.icon_list li:nth-child(3)::before{
    content: url("../images/ISO.svg");
}

.icon_list li:last-child::before{
    content: url("../images/location.svg");
}



